# Frontend
multireserve/target/
multireserve/.gradle/
multireserve/.settings/
multireserve/.classpath
multireserve/.project
multireserve/*.log

# Backend
node_modules
dist
reservas-web/.env

# Editor e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
dist